<div class="wrapper">
  <div class="about">
    <h2>このサイトについて</h2>
    <p>
      ComicUpdateViewerでは、複数の漫画サイトの更新情報をまとめて確認することが出来ます。
    </p>
    <p>
      現在対応しているサイトは以下のとおりです。
    </p>
    <ul>
      <li>
        <%=link_to("裏サンデー","https://urasunday.com/")%>
      </li>
      <li>
        <%=link_to("サンデーうぇぶり","https://www.sunday-webry.com/")%>
      </li>
      <li>
        <%=link_to("やわらかスピリッツ","http://yawaspi.com/")%>
      </li>
    </ul>

    <h2>使いかた</h2>
    <h3><%=link_to("一覧ページ","/")%></h3>
    <ul>
      <li>
        アクセスした当日の更新情報が確認できます。
      </li>
      <li>
        前日までの更新情報が確認できます。
      </li>
    </ul>
    <h3><%=link_to("設定ページ","/setting")%></h3>
    <ul>
      <li>
        更新を確認したい作品を選択できます。
      </li>
      <li>
        一覧ページでは選択した作品のみが表示されます。
      </li>
    </ul>
  </div>
</div>
