<div class="wrapper">
  <div class="updates">
    <div class="today-updates">

      <div class="update-title">
        <h2>今日の更新</h2>
      </div>

      <div class="comics">
        <% if !@comics.empty? %>
          <% @comics.each do |comic|%>
          <div class="comic">
            <%= link_to(comic.url,target: "_blank") do %>
              <%= image_tag "#{comic.thum_url}" %>
              <p>
                <%= comic.title %>
                (<%= comic.updated_at.strftime("%Y/%m/%d") %>)
              </p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="nil-comics">
          <p>
            更新がありません。>
            <%= link_to("設定を確認する","/setting")%>
          </p>
        </div>
      <%end%>
      </div>
    </div>

    <div class="past-updates">

      <div class="update-title">
        <h2>過去の更新</h2>
      </div>

      <div class="comics">
        <% if !@old_comics.empty? %>
          <% @old_comics.each do |comic|%>
            <div class="comic">
              <%= link_to(comic.url,target: "_blank") do %>
                <%= image_tag "#{comic.thum_url}" %>
                <p>
                  <%= comic.title %>
                  (<%= comic.updated_at.strftime("%Y/%m/%d") %>)
                </p>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="nil-comics">
            <p>
              表示するComicがありません。>
              <%= link_to("設定を確認する","/setting")%>
            </p>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="about-link">
    <%= link_to("このページについて","/about")%>
  </div>
</div>
