<br /><br /><br /><br />

<%= form_tag("/setting/post",method:"post") do%>

  <% @comics.each do |site,site_comics|%>
    <h1><%= site%></h1>

    <% site_comics.each do |comic|%>
    <p>
      <% if @checked_comics_id.include?(comic.id)%>
        <%= check_box "check", comic.id,{:checked=>true}%>
      <% else%>
        <%= check_box "check", comic.id%>
      <% end%>
      <%= label_tag comic.id,comic.title%>
    </p>
    <% end%>
  <% end%>

  <button type="submit">ok</button>
<% end %>
